.movie {
  width: 250px;
  display: flex;
  flex-direction: column;
}

.container {
  width: 100%;
}

.heading {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.title {
  width: 100%;
  padding: 4px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.img {
  object-fit: cover;
  width: 250px;
}
